name: Go CI

on:
  push:
  pull_request:

jobs:
  ubuntu:
    name: Build and Test on Ubuntu
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23.3'

    - name: Install Boost library
      run: |
        sudo apt-get update
        sudo apt-get install -y libboost-all-dev

    - name: Build Kernel
      run: make build-kernel

    - name: Build
      run: make build

    - name: Run tests
      run: make test

  macos:
    name: Build and Test on macOS
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.3'

      - name: Install Boost library
        run: |
          brew install boost

      - name: Build Kernel
        run: make build-kernel

      - name: Build
        run: make build

      - name: Run tests
        run: make test

  windows:
    name: Build and Test on Windows
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23.3'

      - name: Install Boost library
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          cd vcpkg
          .\bootstrap-vcpkg.bat
          .\vcpkg install boost-multi-index:x64-windows boost-headers:x64-windows

      - name: Set environment variables
        run: |
          echo "BOOST_ROOT=$env:GITHUB_WORKSPACE\vcpkg\installed\x64-windows" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "BOOST_INCLUDEDIR=$env:GITHUB_WORKSPACE\vcpkg\installed\x64-windows\include" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "$env:GITHUB_WORKSPACE\depend\bitcoin\build\bin\RelWithDebInfo" | Out-File -FilePath $env:GITHUB_PATH -Append

      - name: Install make
        run: choco install make

      - name: Build Kernel
        run: make build-kernel

      - name: Build
        run: make build

      - name: Run tests
        run: make test

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23.3'

    - name: Run linter
      uses: golangci/golangci-lint-action@v4
      with:
        version: latest
